{{template "public/header.html" .}}

<body>
	<div class="subnav">
		<div class="content-menu ib-a blue line-x">
			<a href='{{urlfor "MenuController.Index"}}'><em>{{i18n .Lang "menu_manage"}}</em></a><span>|</span> <a
				href='javascript:;' class="on"><em>{{i18n .Lang "menu_add"}}</em></a>
		</div>
	</div>
	<form name="myform" id="myform" action="{{urlfor "MenuController.EditMenu"}}" onsubmit="return form_submit()" method="post">
		<div class="common-form">

			{{$menu_info := .menu_info}}<!-- 获取当前菜单详细信息 -->

			<table width="100%" class="table_form contentWrap">
				<tr>
					<th width="200"><strong>{{i18n .Lang "menu_parentid"}}：</strong></th>
					<td><select name="pid" style="width: 200px;">
						<option value="0">{{i18n .Lang "no_parent_menu"}}</option>
						{{if .menus}}
							{{.menus}}
						{{end}}
					</select></td>
				</tr>
				<tr>
					<th><strong>{{i18n .Lang "menu_name"}}：</strong></th>
					<td>
						<input type="text" name="name" id="name" value="{{$menu_info.Name}}"
						class="input-text">
						<div id="nameTip" class="onShow">请输入菜单名称</div>
					</td>
				</tr>
				<tr>
					<th><strong>{{i18n .Lang "menu_url"}}：</strong></th>
					<td>
						<input type="text" name="url" id="url" value="{{$menu_info.Url}}"
						class="input-text">
						<div id="urlTip" class="onShow">请输入功能地址</div>
					</td>
				</tr>
				<tr>
					<th><strong>{{i18n .Lang "menu_order"}}：</strong></th>
					<td>
						<input type="text" name="order" id="order" class="input-text" value="{{$menu_info.Order}}">
						<div id="orderTip" class="onShow">请输入排序</div>						
					</td>
				</tr>
				<tr>
					<th><strong>{{i18n .Lang "att_data"}}：</strong></th>
					<td><input type="text" name="data" id="data" class="input-text" value="{{$menu_info.Data}}"></td>
				</tr>
				<tr>
					<th><strong>{{i18n .Lang "menu_display"}}：</strong></th>
					<td>
                        <input type="radio" name="display" value="1" {{if eq $menu_info.Display true}}checked{{end}}>
						{{i18n .Lang "yes"}}
                        <input type="radio" name="display" value="0" {{if eq $menu_info.Display false}}checked{{end}}>
                        {{i18n .Lang "no"}}
                    </td>
				</tr>
			</table>
			<!--table_form_off-->
		</div>
		<div class="bk15"></div>
		<div class="btn">
			<input type="hidden" name="id" value="{{$menu_info.Id}}" />
			<input type="submit" id="dosubmit" class="button" name="dosubmit"
				value="{{i18n .Lang "submit"}}" />
		</div>
	</form>
</body>

<script language="JavaScript">
 /**
 * 提交检测
 */
function form_submit() {
	var name = $.trim($("#name").val());
	if (name == '') {
		$("#name").focus();
		notice_tips("请输入菜单名称!");
		return false;
	}

	var url = $.trim($("#url").val());
	if (url == '') {
		$("#url").focus();
		notice_tips("请输入功能地址!");
		return false;
	}

	var order = $.trim($("#order").val());
	if (order == '') {
		$("#order").focus();
		notice_tips("请输入排序!");
		return false;
	}

	return true;
}
</script>

{{template "public/footer.html" .}}