{{template "public/header.html" .}}
<script language="javascript" src="/static/js/Panel/editinfo.js"></script>

<body>
	<div class="subnav">
		<div class="content-menu ib-a blue line-x">
			<a href='javascript:;' class="on"><em>{{i18n .Lang "admininfo"}}</em></a>
		</div>
	</div>
	<div class="pad_10">
		<div class="common-form">
			<form name="myform" action="{{urlfor "AdminController.EditInfo"}}" method="post" onsubmit="return form_submit()" id="myform">
				{{if .admin}}
					{{$admin_info := .admin}}
					<table width="100%" class="table_form contentWrap">
						<tr>
							<td width="120"><strong>{{i18n .Lang "username"}}：</strong></td>
							<td>{{$admin_info.UserName}}</td>
						</tr>
						<tr>
							<td width="120"><strong>{{i18n .Lang "lastlogintime"}}：</strong></td>
							<td>{{$admin_info.LastLoginTime}}</td>
						</tr>
						<tr>
							<td width="120"><strong>{{i18n .Lang "lastloginip"}}：</strong></td>
							<td>{{$admin_info.LastLoginIp}}</td>
						</tr>
						<tr>
							<td><strong>{{i18n .Lang "realname"}}：</strong></td>
							<td>
								<input type="text" name="realname" id="realname" 
									class="input-text" size="30" value="{{$admin_info.RealName}}"></input>
								<div id="realnameTip" class="onShow">请输入真实姓名</div>
							</td>
						</tr>
						<tr>
							<td><strong>{{i18n .Lang "email"}}：</strong></td>
							<td><input type="text" name="email" id="email"
								class="input-text" size="40"
								value="{{$admin_info.Email}}"></input>
                                <div id="eamilTip" class="onShow">请输入有效Email</div>
							</td>
						</tr>
						<tr>
							<td><strong>{{i18n .Lang "lang"}}：</strong></td>
							<td><select id="lang" name="lang">
									<option {{if eq $admin_info.Lang "zh-CN"}}selected{{end}} value="zh-CN">中文 - 简体中文</option>
									<option {{if eq $admin_info.Lang "en-US"}}selected{{end}} value="en-US">English</option>
							</select></td>
						</tr>
					</table>
				{{end}}
				<div class="bk15"></div>
				<input name="dosubmit" type="submit" value="{{i18n .Lang "submit"}}" class="button" id="dosubmit">
			</form>

		</div>
	</div>
</body>

{{template "public/footer.html" .}}